section{
    margin: 0;
    padding: 0;
}
/* Home service section */
.section-neu{
    background: #ECF1F4;
    /* height: 675px; */
    /* width: 1440px; */
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.g4{
    margin-left: 180px;
    margin-top: 12px;
}
.neu{
    margin-top: -20px;
    margin-bottom: 0;
}
.neu span{
    margin-left: 220px;
    color: #55BC7E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}
.service{
    margin-bottom: 0;
    margin-top: -15px;
}
.service small{
    margin-left: 178px;
}
.start-estimate{
    margin-top: 30px;
    margin-right: 60.17px;
    margin-bottom: 47px;
}
.start-estimate span{
    background: #49A26C;
    box-shadow: 0px 10px 25px rgba(59, 146, 94, 0.15);
    border-radius: 4px;
    padding-top: 14px ;
    padding-bottom: 11px ;
    padding-right: 16px ;
    padding-left: 16px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.dot-logo img{
    margin-right: 62px;
    width: 158px;
    height: 305px;
    margin-top: 237px;
}
.span{
    width: 249px;
    height: 30px;
    background: #D3E8E1;
    border-radius: 23px;
    margin-top: 155px;
    margin-right: 158px;
}
.info{
    display: flex;    
}
.stocksna img{
    margin-left: 27px;
    width: 300px;
    height: 458px;
}
.project h6{
    width: 390px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
}
.project p{
    color: #8F91A2;
    font-family: 'Poppins';
    font-style: normal;
    width: 380px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 158px;
}
.input-group{
    height: 51px;
    padding-bottom: 9px;
}
.form-control{
    border: none;
}
.input-button{
    background: #55BC7E;
    border: none;
    width: 130px;
    font-size: 15px;
    font-weight: 500;
}

/* walk-in shower section */
.title{
    width: 211px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin: auto;
    height: 71px;
    display: flex;
    align-items: center;
}
.summary{
    width: 594px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 45px;
    color: #000000;
    margin: auto;
    text-align: center;
    margin-bottom: 7px;
}
.list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    margin-bottom: 60px;
}
.list-box{
    width: 400px;
    height: 280px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 25px;
    padding: 10px 40px;
    margin-left: 100px;
}
.list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
}
.img-style img{
    width: 400px;
    margin-right: 100px;
    height: 280px;
}


/*Smartphones Mobiles Device  responsive */
@media(min-width: 320px) and (max-width: 480px){
    .nav-bar{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .g4{
        margin-left: 145px;
    }
    .neu span{
        margin-left: 185px;
    }
    .service small{
        margin-left: 145px; 
    }
    .start-estimate{
        text-align: center;
        margin-left: 40px;
    }
    .info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .dot-logo{
        display: none;
    }
    .span{
        margin: auto;
    }
    .project h6{
        width: 90%;
        margin: auto;
        line-height: 40px;
        margin-left: 30px;
    }
    .project p{
        width: 80%;
        margin: auto;
    }
    .stocksna{
        margin-bottom: 30px;
    }
    .stocksna img{
        width: 90%;
        margin-top: 10px;
        height: 100%;
    }
    .form-control{
        width: 200px;
    }
    /* walk-in shower section */
    .summary{
        width: 90%;
        line-height: 30px;
        margin-bottom: 20px;
        word-spacing: 3px;
        letter-spacing: 1px;
        margin-bottom: 60px;
    }
    .list-img{
        display: grid;
        row-gap: 30px;
        grid-template-columns: repeat(1,1fr);
        column-gap: 20px;
    }
    .list-box{
        width: 330px;
        margin:auto;
    }
    .img-style img{
        width: 330px;
        margin: auto;
    }
}

/* Mobiles and Tablets Device responsive */
@media (min-width: 481px) and (max-width: 820px) {
    .dot-logo{
        display: none;
    }
    .project{
        width: 370px;
        margin-left: 20px;
    }
    .stocksna img{
        width: 400px;
    }
    
}

/* ipad Responsive */
@media (min-width: 768px) and (max-width: 1024px){
    .dot-logo{
        display: none;
    }
    .project{
        width: 330px;
        margin-left: 20px;
    }
    .stocksna img{
        width: 380px;
    }
    /* walk-in shower section */
    .summary{
        width: 90%;
        line-height: 30px;
        margin-bottom: 20px;
        word-spacing: 3px;
        letter-spacing: 1px;
        margin-bottom: 60px;
    }
    .list-img{
        display: grid;
        row-gap: 30px;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
    }
    .list-box{
        width: 330px;
        margin:auto;
        margin-left: 30px;
    }
    .img-style img{
        width: 330px;
        margin: auto;
        margin-right: 30px;
    }
    
}
/* ipad */
@media (min-width: 820px) and (max-width: 1180px){
    .project{
        width: 380px;
        margin-left: 20px;
    }
    .stocksna img{
        width: 380px;
    }
}
/* surface pro 7 */
@media (min-width: 912px) and (max-width: 1368px){
    .project{
        width: 380px;
        margin-left: 20px;
    }
    .stocksna img{
        width: 90%;
    }
    .list-box{
        width: 400px;
    }
    .img-style img{
        width: 400px;
    }
}
/* surface suo */
@media (min-width: 540px) and (max-width: 720px){
    .info{
        display: flex;
    }
    .project{
        width: 200px;
        margin-top: -60px;
    }
    .span{
        width: 200px;
    }
    .project h6{
        width: 200px;
        font-size: 20px;
        line-height: 25px;
    }
    .project p{
        width: 200px;
        line-height: 24px;
    }
    .stocksna img{
        width: 290px;
        height: 300px;
        margin-top: 50px;
    }
    .summary{
        width: 450px;
        margin-bottom: 40px;
        line-height: 25px;
    }
    .list-box{
        width: 250px;
        margin-left: 20px;
        height: 250px;
        padding: 10px 10px;
    }
    .list{
        line-height: 28px;
        font-size: 15px;
        font-weight: 500;
    }
    .img-style img{
        width: 205px;
        height: 250px;
        margin-right: 0;
    }
}
@media (min-width:1280px) {
    .list-box{
        width: 550px;
        margin-left: 20px;
    }
    .img-style img{
        width: 550px;
        margin-right: 20px;
    }
}
/* laptop l */
@media (min-width:1400px) {
    .project{
        width: 425px;
    }
    .project h6{
        width: 390px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 36px;
        margin-top: 3px;
    }
    .project p{
        width: 380px;
        color: #8F91A2;
    }
    .stocksna img{
        width: 786px;
        height: 458px;
        margin-left: 2px;
    }

    /* walk-in shower section */
    .title{
        width: 211px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        margin: auto;
        height: 71px;
        display: flex;
        align-items: center;
    }
    .summary{
        width: 594px;
        height: 45px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 45px;
        color: #000000;
        margin: auto;
        text-align: center;
        margin-bottom: 7px;
    }
    .list-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        margin-bottom: 60px;
    }
    .list-box{
        width: 502px;
        height: 291px;
        background: rgba(217, 217, 217, 0.3);
        border-radius: 25px;
        padding: 10px 40px;
        margin-left: 204px;
    }
    .list{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
    }
    .img-style img{
        width: 529px;
        margin-right: 143px;
    }
}